.reset-container {
  width: 100%;
  max-width: 400px;
  margin: 5% auto;
  padding: 30px;
  background: #0a0a0a;
  border: 1px solid #0ff;
  border-radius: 12px;
  box-shadow: 0 0 15px #00ffff55;
  color: #0ff;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}

.reset-container h2 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.input-wrapper {
  position: relative;
  margin-bottom: 1rem;
}

.input-neon {
  width: 100%;
  padding: 14px 40px 14px 14px;
  background: gray;
  border: 1px solid #0ff;
  border-radius: 10px;
  font-size: 1.1rem;
  color: #0ff;
  outline: none;
  box-shadow: 0 0 10px #00ffff55;
  transition: 0.3s ease;
}

.input-neon:focus {
  box-shadow: 0 0 20px #00ffff, 0 0 30px #00ffffaa;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  color: #0ff;
  font-size: 1.1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.eye-icon:hover {
  color: #00ff99;
}

.button {
  width: 100%;
  padding: 14px;
  font-size: 1.1rem;
  font-weight: bold;
  background: #00ff99;
  color: #000;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px #00ff99aa;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background: #0ff;
  box-shadow: 0 0 15px #0ff, 0 0 25px #0ff;
  color: #000;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin: 0.5rem 0 1rem;
}
